*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Telegraf';
  src: url("fonts/Telegraf-Regular.woff2") format("woff2"),
      url("fonts/Telegraf-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 1600px){
  html {
    font-size: calc(10/1440*1600px)
  }
}
html {
 font-size: calc(10/1440*100vw);
}
body {
 background-color: #241D23;
 height: 100vh;
}
a,
a:visited {
  color: inherit;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #C15A3C;
}
.parent {
  display: grid;
  grid-template-columns: 1fr repeat(2, 12fr) 1fr;
  grid-template-rows: 2fr repeat(2, 12fr) 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid #C15A3C;
}
.name { grid-area: 1 / 2 / 2 / 4;
  display: flex;
}
.name p, .div2-600 p {
  font-family: Telegraf;
  font-size: 1.8rem;
  color: #C15A3C;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.div3 { grid-area: 1 / 4 / 2 / 5;
  border-left: 1px solid #C15A3C;
}
.div4 { grid-area: 2 / 1 / 3 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;
}
.pr, .div4-600, .div5-600, .div6-600, .div7-600, .div8-600 { grid-area: 2 / 2 / 3 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
  width: 100%;
  height: 100%;
  color: #C15A3C;
  position:relative;
  align-items: center;
  justify-content: center;
  font-family: Telegraf;
  font-size: 1.8rem;
}
.pr_overlay {
  width: 100%;
  height: 100%;
  background-image: url(images/image_1.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  margin: 0 auto;
  opacity:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pr_overlay:hover {
  opacity: 0.3;
  transition: 500ms;
  transition-timing-function: ease-out;
}

.sl { grid-area: 2 / 3 / 3 / 4;
  border-top: 1px  solid #C15A3C;
  border-left: 1px  solid #C15A3C;
  display: flex;
  width: 100%;
  height: 100%;
  color: #C15A3C;
  position:relative;
  align-items: center;
  justify-content: center;
  font-family: Telegraf;
  font-size: 1.8rem;
}
.sl_overlay {
  height: 100%;
  width: 100%;
  background-image: url(images/image_2.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  margin: 0 auto;
  opacity:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sl_overlay:hover {
  opacity: 0.3;
  transition: 500ms;
  transition-timing-function: ease-out;
}
.div7 { grid-area: 2 / 4 / 3 / 5;
  border-top: 1px solid #C15A3C;
  border-left: 1px  solid #C15A3C;
}
.div8 { grid-area: 3 / 1 / 4 / 2;
  border-top: 1px  solid #C15A3C;
  border-right: 1px  solid #C15A3C;
}
.portraits { grid-area: 3 / 2 / 4 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
  width: 100%;
  height: 100%;
  color: #C15A3C;
  position:relative;
  align-items: center;
  justify-content: center;
  font-family: Telegraf;
  font-size: 1.8rem;
}

.portraits_overlay {
  height: 100%;
  width: 100%;
  background-image: url(images/image_3.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  margin: 0 auto;
  opacity:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portraits_overlay:hover {
  opacity: 0.3;
  transition: 500ms;
  transition-timing-function: ease-out;
}

.bio { grid-area: 3 / 3 / 4 / 4;
  border-left: 1px solid #C15A3C;
  border-top: 1px  solid #C15A3C;
  display: flex;
  width: 100%;
  height: 100%;
  color: #C15A3C;
  position:relative;
  align-items: center;
  justify-content: center;
  font-family: Telegraf;
  font-size: 1.8rem;
}
.bio_overlay { 
  height: 100%;
  width: 100%;
  background-image: url(images/image_4.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  margin: 0 auto;
  opacity:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio_overlay:hover {
  opacity: 0.3;
  transition: 500ms;
  transition-timing-function: ease-out;
}

.cont { grid-area: 4 / 3 / 5 / 4;
  border-left: 1px  solid #C15A3C;
  border-top: 1px solid #C15A3C;
  display: flex;
  position: relative;
}
.cont p {
  font-family: Telegraf;
  font-size: 1.8rem;
  color: #C15A3C;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
}

.div11 { grid-area: 3 / 4 / 4 / 5;
  border-top: 1px  solid #C15A3C;
  border-left: 1px solid #C15A3C;
}
.div15 { grid-area: 4 / 4 / 5 / 5;
  border-left: 1px  solid #C15A3C;
  border-top: 1px  solid #C15A3C;}

.div12 { grid-area: 4 / 1 / 5 / 2;
  border-top: 1px  solid #C15A3C;
  border-right: 1px  solid #C15A3C;
}
.div13 { grid-area: 4 / 2 / 5 / 3;
  border-top: 1px  solid #C15A3C; 
}

@media (max-width: 600px){
  html {
    font-size: calc(20/1440*600px)}

  .parent { visibility: hidden;
    width: 0;
    height: 0;
}
.parent-600 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 3fr repeat(4, 6fr) 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}
      
.div1-600 { grid-area: 1 / 1 / 2 / 2;
  height: 80px;
}
.div2-600 { grid-area: 1 / 2 / 2 / 3;
}
.div3-600 { grid-area: 1 / 3 / 2 / 4;
}
.div4-600 { grid-area: 2 / 1 / 3 / 4;
  border-top: 1px  solid #C15A3C;
  height: 200px;
}
.div5-600 { grid-area: 3 / 1 / 4 / 4; 
  border-top: 1px  solid #C15A3C;
  height: 200px;
}
.div6-600 { grid-area: 4 / 1 / 5 / 4;
  border-top: 1px  solid #C15A3C; 
  height: 200px;
}
.div7-600 { grid-area: 5 / 1 / 6 / 4; 
  border-top: 1px  solid #C15A3C;
  height: 200px;
}
.div8-600 {grid-area: 6 / 1 / 7 / 4; 
  border-top: 1px  solid #C15A3C;
  height: 80px;
}
}