*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Telegraf';
  src: url("fonts/Telegraf-Regular.woff2") format("woff2"),
      url("fonts/Telegraf-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
 background-color: #241D23;
 height: 100vh;
}
a,
a:visited {
  color: inherit;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #C15A3C;
}
.parent {
  display: grid;
  grid-template-columns: 1fr repeat(2, 12fr) 1fr;
  grid-template-rows: 2fr repeat(2, 12fr) 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid #C15A3C;
}
.name { grid-area: 1 / 2 / 2 / 4;
  display: flex;
}
.div3 { grid-area: 1 / 4 / 2 / 5;
  border-left: 1px solid #C15A3C;
}
.div4 { grid-area: 2 / 1 / 3 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;
}
/* .pr { grid-area: 2 / 2 / 3 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(images/bg_color1.png);
  background-size: cover;
  background-position: center;
  color: #C15A3C;
  transition: background-image 0.5 ease, color 0.5 ease;
}
.pr:hover {
  background-image: url(images/image_1.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color:#7ee74e;
} */

.pr { grid-area: 2 / 2 / 3 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #241D23;
  background-size: cover;
  background-position: center;
  color: #C15A3C;
  position:relative;
  align-items: center;
  justify-content: center;
  font-family: Telegraf;
  font-size: 18px;
}

.pr_overlay {
  width: 100%;
  height: 100%;
  background-image: url(images/image_1.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  margin: 0 auto;
  opacity:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pr_overlay:hover {
  opacity: 0.3;
  transition: 500ms;
  transition-timing-function: ease-out;
}


.sl { grid-area: 2 / 3 / 3 / 4;
  border-top: 1px solid #C15A3C;
  border-left: 1px solid #C15A3C;
  display: flex;
  background-image: url(images/bg_color1.png);
  background-size: cover;
  background-position: center;
  color: #C15A3C;
  transition: background-image 0.5 ease, color 0.5 ease;
}
.sl:hover {
  background-image: url(images/image_2.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color:#7ee74e;
}
.bio { grid-area: 2 / 4 / 3 / 5;
  border-top: 1px solid #C15A3C;
  border-left: 1px solid #C15A3C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div8 { grid-area: 3 / 1 / 4 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;
}
.portraits { grid-area: 3 / 2 / 4 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
  background-image: url(images/bg_color1.png);
  background-size: cover;
  background-position: center;
  color: #C15A3C;
  transition: background-image 0.5 ease, color 0.5 ease;
}

.portraits:hover {
  background-image: url(images/image_3.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color:#7ee74e;
}

.campaign { grid-area: 3 / 3 / 4 / 4;
  border-left: 1px solid #C15A3C;
  border-top: 1px solid #C15A3C;
  display: flex;
  background-image: url(images/bg_color1.png);
  background-size: cover;
  background-position: center;
  color: #C15A3C;
  transition: background-image 0.5 ease, color 0.5 ease;
}
.campaign:hover {
  background-image: url(images/image_4.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color:#7ee74e;

}
.pub { grid-area: 3 / 4 / 4 / 5;
  border-top: 1px solid #C15A3C;
  border-left: 1px solid #C15A3C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div12 { grid-area: 4 / 1 / 5 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;}
.div13 { grid-area: 4 / 2 / 5 / 3;
  border-top: 1px solid #C15A3C; }
.cont { grid-area: 4 / 3 / 5 / 4;
  border-left: 1px solid #C15A3C;
  border-top: 1px solid #C15A3C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div15 { grid-area: 4 / 4 / 5 / 5;
  border-left: 1px solid #C15A3C;
  border-top: 1px solid #C15A3C;}

.name p {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  padding: 10px;
  padding-top: 30px;
  height: 30px;
  width: 120px;
  margin: 0;
}
.pr p, .sl p, .portraits p, .campaign p  {
  font-family: Telegraf;
  font-size: 18px;
  /* margin: 150px auto 0; */
}

.bio p , .pub p {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  margin: 0;
  writing-mode: vertical-rl;
}
.cont p {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  margin: 10px auto 0;

}


