*,
*:after,
*:before {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Telegraf';
  src: url("fonts/Telegraf-Regular.woff2") format("woff2"),
      url("fonts/Telegraf-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
 position: relative;
 background-color: #241D23;
}

.parent {
  display: grid;
  grid-template-columns: 1fr repeat(2, 12fr) 1fr;
  grid-template-rows: 2fr repeat(2, 12fr) 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
  height: 55px;
  border-right: 1px solid #C15A3C;
}
.div2 { grid-area: 1 / 2 / 2 / 4;
}
.div3 { grid-area: 1 / 4 / 2 / 5;
  border-left: 1px solid #C15A3C;
}
.div4 { grid-area: 2 / 1 / 3 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;
}
.div5 { grid-area: 2 / 2 / 3 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
}
.div6 { grid-area: 2 / 3 / 3 / 4;
  border-top: 1px solid #C15A3C;
  border-left: 1px solid #C15A3C;
  display: flex;
}
.div7 { grid-area: 2 / 4 / 3 / 5;
  border-top: 1px solid #C15A3C;
  border-left: 1px solid #C15A3C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div8 { grid-area: 3 / 1 / 4 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;
}
.div9 { grid-area: 3 / 2 / 4 / 3;
  border-top: 1px solid #C15A3C;
  display: flex;
}
.div10 { grid-area: 3 / 3 / 4 / 4;
  border-left: 1px solid #C15A3C;
  border-top: 1px solid #C15A3C;
  display: flex;
}
.div11 { grid-area: 3 / 4 / 4 / 5;
  border-top: 1px solid #C15A3C;
  border-left: 1px solid #C15A3C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div12 { grid-area: 4 / 1 / 5 / 2;
  border-top: 1px solid #C15A3C;
  border-right: 1px solid #C15A3C;}
.div13 { grid-area: 4 / 2 / 5 / 3;
  border-top: 1px solid #C15A3C; }
.div14 { grid-area: 4 / 3 / 5 / 4;
  border-left: 1px solid #C15A3C;
  border-top: 1px solid #C15A3C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div15 { grid-area: 4 / 4 / 5 / 5;
  border-left: 1px solid #C15A3C;
  border-top: 1px solid #C15A3C;}

 h1 {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  padding: 10px;
  margin: 0;
  position: sticky;
  top: 70%;
  left: 10px;
}
.div5 p, .div6 p, .div9 p, .div10 p  {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  position: relative;
  margin: 150px auto 0;
}

.div7 p , .div11 p {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  position: relative;
  margin: absolute 0;
  writing-mode: vertical-rl;
}
.div14 p {
  font-family: Telegraf;
  font-size: 18px;
  color: #C15A3C;
  position: relative;
  margin: 10px auto 0;

}
